.detailCode{
    width: 50%;
}
.detailName{
    width: 50%;
}
.detailCount{
    width: 50%;
}
.detailCreationDate{
    width: 70%;
}
.detailRemovingDate{
    width: 70%;
}
.detailStoreKeeper{
    width: 70%;
}
.dCreationNomCode{
    width: 50%;
}
.dCreationName{
    width: 100%;
}
.dCreationCount{
    width: 50%;
}
.dCreationStoreKeeper{
    width: 50%;
}
.dCreationCreationDate{
    width: 20%;
}