body {
    background-color: #edeef0;
    margin: 0%;
}

.centerColumn {
    display: flex;
    flex-direction: column;
    min-width: 40em;
    width: 90%;
    max-width: 100%;
    background-color: #fff;
    margin: 1em auto;
    border-radius: 8px;
    box-shadow: 0 0.5px 2px 0.1px #042039;
}

.year {
    margin-right: 2em;
}

footer {
    color: #083259;
    font-family: sans-serif;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
}

.href {
    color: #083259;
    margin-left: 0.5em;
}

.commonButtons {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 50%;
    min-width: 25em;
}

.commonButtonsButton {
    border: solid #fff;
    box-shadow: 0 0 2px 0.5px #dcf1ff;
    background-color: inherit;
    margin: 0.5em 0em;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: fantasy;
    font-size: inherit;
    width: 100%;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.commonButtonsButton::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: #fff;
    width: 0em;
    height: 100%;
    transform: skew(45deg);
    left: 0%;
    transition: width 0.5s ease-in-out, left ease-out 1s;
    z-index: -1;
}

.commonButtonsButton:hover {
    border-color: #359ac6;
    color: #359ac6;
}

.commonButtonsButton:hover::after {
    width: 40%;
    left: 75%;
}

.commonButtonsButton:active {
    border-color: #c63568;
    color: #c63568;
}

.bodyElement {
    min-height: 90vh;
}

.commonButtons a {
    width: 100%;
    margin: 0em 0.5em;
}

.commonButtonsPanel {
    background-image: url("../resources/headerImage.jpg");
    border-radius: 8px 8px 0em 0em;
    background-position: center;
    background-size: 100%;
    box-shadow: 0px 2px 5px -1px #042039;
}

.AddEnterLine {
    display: flex;
    flex-direction: row;
    margin: 1em 1em 2em 1em;
    justify-content: center;
}

.CreationFormLineElement {
    margin: 0em 0.5em;
    display: flex;
    flex-direction: column;
}

.CreationFormText {
    overflow-wrap: anywhere;
    margin: auto;
    font-family: sans-serif;
    font-size: smaller;
}

.CreationForm {
    width: 90%;
    background-color: aliceblue;
    margin: 1em auto;
    box-shadow: 0px 2px 5px -1px #042039;
    text-align: center;
    border-radius: 8px;
    display: none;
}

.ListElement {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 1em auto;
    align-items: center;
    padding: 0em 1em;
    height: 3em;
    background-color: #77abf752;
    box-shadow: 0px 2px 5px -1px #042039;
    border-radius: 8px;
    color: #042039;
    font-family: sans-serif;
    font-size: smaller;
}

.listElement {
    margin: 0em 0.5em;
    overflow-wrap: anywhere;
}

.outOfRemoveImg {
    width: 20%;
}

.removeImg {
    height: 2em;
    cursor: pointer;
}

.removeImg:active {
    filter: blur(1px);
}

.BottomButtons {}

.BottomButtons .SmallButton {
    margin: 1em;
}